@model TrainingCompany

    <footer id="footer">
        <div class="container d-md-flex py-4">

            <div class="mr-md-auto  text-md-left">
                <div class="copyright">
                    &copy; Copyright <strong><span>@Model.Name - @Model.Specialization </span></strong> @DateTime.Now.Year.. All Rights Reserved
                </div>
                
            </div>
           
        </div>
    </footer>
